.expense_tracker_heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.bottom_container {
  margin-top: 36px;
  display: flex;
  column-gap: 30px;
}

.transactions_wrapper {
  flex-grow: 2;
}

.transactions_wrapper {
  flex-grow: 2;
}

.top_expenses_wrapper {
  width: 417px;
}

.transactions_heading,
.top_expenses_heading {
  font-weight: 700;
  font-style: Italic;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .bottom_container {
    flex-direction: column;
    row-gap: 30px;
  }
  .top_expenses_wrapper {
    width: 100% !important;
  }
}
