.top_expenses_wrapper {
  height: 356px !important;
  background: #ffffff;
  border-radius: 15px;
  /* padding: 30px 6px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 899px) {
  .top_expenses_wrapper {
    width: 95vw !important;
  }
  .top_expenses_wrapper :global(.recharts-wrapper) {
    width: 95vw !important;
  }
}

@media (max-width: 599px) {
  .top_expenses_wrapper {
    width: 93vw !important;
  }
  .top_expenses_wrapper :global(.recharts-wrapper) {
    width: 93vw !important;
  }
}
@media (max-width: 459px) {
  .top_expenses_wrapper {
    width: 90vw !important;
  }
  .top_expenses_wrapper :global(.recharts-wrapper) {
    width: 90vw !important;
  }
}
